.link_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

a {
    text-decoration: none;
}

a:link,a:visited,a:hover,a:active{
    color: black;
}


.btn{
    background-color: aquamarine;
    border-radius: 15px;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
