.footer__container{
    height: 15vh;
    padding-top: 1.5rem;
    line-height: 1.2;
    text-align: center;
    border-top: 2px #e5e7eb solid;
}

.footer__container,
.footer__container .footer__link,
.footer__container .footer__link:link,
.footer__container .footer__link:visited,
.footer__container .footer__link:active
{
    color:  gray;
}

.footer__container .footer__link:hover{
    color:  black;
}

