h1{
    display: inline-block;
}

.backImg{
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    -ms-transform: rotate(180deg); /* IE9 */
    -webkit-transform : rotate(180deg); /* Chrome,Safari,Opera */
    transform: rotate(180deg);
}
